{% extends 'posts/layout.html' %}

{% block content %}
	<div class="row">
		<form class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <input type="text" class="materialize-input" placeholder="Enter a word...">
	      	</div>
		  </div>
		  <button class="btn-large waves-effect waves-light teal" type="submit" name="action">Submit</button>
		</form>
	</div>

	<h5>Search results for {}</h5>

	<!--<div class="row">
		{% for key in result %}
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">{{ key }}</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="{% url 'value' %}">Read more</a>
			</div>
		  </div>
		</div>
	</div>
	{% endfor %} -->

	<div class="row">
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
		<div class="col s12 m4">
		  <div class="card light-blue lighten-5">
		    <div class="card-content">
		      <span class="card-title">Card Title</span>
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      quis nostrud exercitation ullamco.</p>
		    </div>
		    <div class="card-action">
		      <a href="#">Read more</a>
			</div>
		  </div>
		</div>
	</div>
{% endblock %}