<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<title>Newz | Home</title>

	<style>
		body {
			font-family: 'Raleway', 'san-serif';
		}

		nav {
			padding: 0 30px;
		}

		nav img {
			border-radius: 50%;
			margin-top: 7px; 
		}
	</style>
</head>
<body>
	 <nav class="teal">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">
	      	<img src="https://picsum.photos/50">
	      </a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="#">Home</a></li>
	        <li><a href="#">About</a></li>
	        <li><a href="#">Blog</a></li>
	      </ul>
	    </div>
	  </nav>
	<header class="container center-align">
		<h4>You wanna read?</h4>
	</header>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>